#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.contensis:hover {
  filter: drop-shadow(0 0 2em #37bfa7);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

.small {
  font-size: small;
}

button.collapsible {
  float: right;
  position: relative;
  top: -10px;
  font-size: 80%;
}

.signal-attributes,
.json-panel {
  text-align: start;
  border-radius: 25px;
  border: 1px solid;
  padding: 0 1.6em;
  max-width: 1000px;
}
.react-tabs {
  padding: 0.6em 0 1.6em 0;
}
code:not(.language-json),
pre {
  box-sizing: border-box;
  padding: 0.3em 0.6em;
  margin: 0;
  white-space: break-spaces;
  background-color: #656c7633;
  border-radius: 6px;
}
.json-panel {
  background-color: rgba(255, 255, 255, 0.87);
  margin: 1em 1em;
  padding: 0 0.6em;
}
.json-panel pre {
  width: 100%;
  background: none !important;
  padding: 0em 2em !important;
}
code input {
  font-family: monospace;
}
code.override {
  background-color: rgba(255, 255, 255, 0.87);
  color: #656c76fd;
}
code.overridden {
  margin-left: 0.6em;
  text-decoration: line-through;
}
button.override {
  background: none;
  padding: 0;
  margin: 0 0 0 8px;
  position: relative;
  top: -1px;
  font-weight: bold;
  color: #656c76fd;
}
.react-switch {
  vertical-align: middle;
  margin-left: 0.6em;
}
table {
  border-spacing: unset;
  width: 100%;
  word-break: break-all;
}
table,
th,
tr:hover,
thead,
tfoot,
.title-column {
  background-color: rgb(96 139 168 / 0.2);
}
th,
td {
  margin: 0.1em 0.3em;
  padding: 0.3em 0.6em;
  font-size: 90%;
}

td button {
  font-size: 80%;
}
tr .sub {
  padding: 0.6em 2em;
}
.title-column {
  font-size: 80%;
  font-weight: bold;

  input {
    width: 98%;
  }
}
.title-column {
  word-break: keep-all;
}
/* table .footer-buttons button {
  border: none;
  background-color: transparent;
}
table .add-button {
  color: #4bbd7f;
} */

.active-check {
  width: 32px;
}
.sub thead {
  text-align: left;
}
.horizontal-slider {
  width: 100%;
  height: 32px;
}
.horizontal-slider .track {
  top: 8px;
  bottom: 0;
  height: 16px;
  background: #ddd;
  border-radius: 999px;
}
.horizontal-slider .track-0 {
  background: rgb(0, 136, 0);
}
.horizontal-slider .track-1 {
  background: #ddd;
}
.horizontal-slider .thumb {
  height: 32px;
  line-height: 32px;
  width: 32px;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  cursor: grab;
}
.horizontal-slider .thumb span {
  position: relative;
  top: -3px;
}
.horizontal-slider .mark {
  width: 8px;
  height: 8px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0px calc(19px);
  bottom: calc(50% - 6px);
}
